---
import AboutIcon from '../icons/aboutIcon.astro'
---

<!--     <AboutIcon class="yellow inline-flex"/>
        About Us
    </AboutIcon>
 -->
    <div class="grid lg:grid-cols-2 gap-10 lg:p-20 sm:p-15 mx-auto container w-full">
        <div class="p-10">
            <h2 class="text-white text-4xl my-5">Discover Our Culinary <strong>Heritage</strong></h2>
            <p class="text-white text-lg text-pretty order-2 my-5 md:order-1 ">"Welcome to YumHub, where our culinary journey is a fusion of passion and tradicion. Located in [Location], we craft every dish with care, blending fresh, quality ingredients to create an unforgettable dining experience. Our menu celebrates flavors inspired by [cuisine type], promising a journey of tastes that resonate with every visit. Join us and savor the essence of expeptional cuisine in a welcoming atmosphere."</p>
            <a href="" class="border px-5 py-3 yellow">Learn More</a>

        </div>
        <div class="flex items-center justify-center mb-10">
            <img src="/img/about.jpg" class="max-w-sm">
        </div>
    </div>
