<h2 class="yellow text-center">Popular Blog</h2>
<h3 class="text-white text-center text-4xl my-5">Culinary 
    <strong>Exploration</strong>
</h3>
<p class="text-white text-lg text-center text-pretty max-w-4xl m-auto">
    Embark on a Gastronomic Journey Through the Fusion of Flavors, Techniques, and Stories, as We Delve Deep into the Art, Science, and Passion Behind Exquisite Cuisine.
</p>

<article class="grid lg:grid-cols-3 md:grid-cols-2 gap-5 my-14 mx-auto p-5">
    <div class="py-5">
        <img src="/img/blog1.jpg" alt="" class="h-4/5">
        <strong>April 22, 2023</strong>
        <h3 class="text-white text-xl my-5">The evolution of Dining: Embracing Modern Culinary Trends</h3>
    </div>

    <div class="py-5">
        <img src="/img/blog2.jpg" alt="" class="h-4/5">
        <strong>April 22, 2023</strong>
        <h3 class="text-white text-xl my-5">Food Fusion Frenzy: Exploring Diverse Flavor Combinations</h3>

    </div>

    <div class="py-5">
        <img src="/img/blog3.jpg" alt="" class="h-4/5">
        <strong>April 22, 2023</strong>
        <h3 class="text-white text-xl my-5">Sweet Escapes: Indulgent Desserts Redefined</h3>

    </div>
</article>