---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';

import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Menu from '../components/Menu.astro';
import Chef from '../components/Chef.astro';
import Blog from '../components/Blog.astro';
---

<Layout title="Yumhub - Delicious pizza">
	<main>
		<Hero/>
		<About id="#about"/>
		<Menu/>
		<SectionContainer>
			<Chef/>
		</SectionContainer>

		<SectionContainer>
			<Blog/>
		</SectionContainer>
	</main>
</Layout>