---
import SearchIcon from '../icons/search.astro'
import ShopIcon from '../icons/shop.astro'
---
<header class="flex justify-center items-center mx-auto w-full mt-7 pb-5">
    <!-- <h2 class="text-white justify-start ">Yumhub</h2> -->

    <nav class="flex px-3 text-2sm justify-center items-center gap-2 text-white ">
        <a href="/" class=" px-2 py-2 active">Home</a>
        <a href="/about" class=" px-2 py-2">About Us</a>
        <a href="" class=" px-2 py-2">Menu</a>
        <a href="" class=" px-2 py-2">Blog</a>
        <a href="" class=" px-2 py-2">Contact</a>

<!--         <SearchIcon class="text-white justify-end yellow"/>
        <ShopIcon class="text-white justify-end yellow"/> -->

    </nav>
</header>
