<div class="bg-b lg:w-full py-7 my-10
flex justify-center mx-auto gap-10 flex-wrap">
    <img src="/img/client-1.png" alt="" class="opacity-40 w-30 h-16 ">
    <img src="/img/client-2.png" alt="" class="opacity-40 w-30 h-16 ">
    <img src="/img/client-3.png" alt="" class="opacity-40 w-30 h-16 ">
    <img src="/img/client-4.png" alt="" class="opacity-40 w-30 h-16 ">
</div>